{% extends 'financePanel/base.html' %}

{% block css %}
    {% load static %}
    <link href="{% static 'financePanel/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Insert stock</h4>
            </div>
            <div class="card-body">
                {% load custom_tags %}
                <form action="" method="post" novalidate class="form-horizontal form-bordered">
                    {% csrf_token %}
                    <div class="form-body text-light">
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">{{ field.label }}</label>
                                    <div class="col-md-9 controls">

                                       {% if field.label == 'open' %}
                                            {{ field|add_classes:'form-control border border-danger mydatepicker'}}
                                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                                        {% else %}
                                            {{ field|add_classes:'form-control border border-danger'}}
                                        {% endif %}
                                       <small class="form-text text-danger">{% for error in  field.errors %}{{ error }}{% endfor %}</small>
                                    
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">{{ field.label }}</label>
                                    <div class="col-md-9 controls">
                                        {% if field.name == 'open' %}
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                <input name="open" autocomplete="off" id="datepicker-autoclose" class="form-control" placeholder="mm/dd/yyyy">
                                            </div>
                                        {% else %}
                                            {{ field|add_classes:'form-control'}}
                                        {% endif %}
                                        <small>{{ field.help_text }}</small>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div> 
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="offset-sm-3 col-md-9 ml-5">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                                        <button type="button" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'financePanel/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script>
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}